<div class="cart-page">
  <h1>Cart Page</h1>
  <div class="row">
    <div class="col-sm-9 details">
      <ul *ngFor="let item of cartData">
        <li><img src="{{item.image}}" alt=""></li>
        <li>{{item.name}}</li>
        <li>Price: {{item.price}}</li>
        <li>Quantity: {{item.quantity}}</li>
        <li>
          <button class="form-button">Remove From Cart</button>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 summary">
      <h3>Summary</h3>
      <ul>
        <li><span>Amount</span><span>{{cartSummary.price | currency}}</span></li>
        <li><span>Tax</span><span>{{cartSummary.tax | currency}}</span></li>
        <li><span>Delivery Charge</span><span>{{cartSummary.deliveryCharge| currency}}</span></li>
        <li><span>Discount</span><span>{{cartSummary.discount| currency}}</span></li>
        <li><span><h4>Total</h4></span><span><h4>{{cartSummary.total| currency}}</h4></span></li>
      </ul>
    </div>
  </div>
</div>
