<div class="product-list">
  <h1>All Product List</h1>
  <p class="message-p">{{productDeleteMessage}}</p>
  <table>
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Color</th>
      <th>Category</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productList">
      <td><img src="{{product.image}}" alt="product image"></td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.color}}</td>
      <td>{{product.category}}</td>
      <td>{{product.description}}</td>
      <td>
        <fa-icon [icon]="icon" (click)="deleteProduct(product)"></fa-icon>
        <a class="adjust-update-link" routerLink="/seller-update-product/{{product.id}}"><fa-icon [icon]="editIcon"></fa-icon></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
